<template>
    <v-dialog width="400px" v-model="modal">
        <v-btn flat slot="activator" :loading="loading">Вход</v-btn>
        <v-card>
            <v-container>
                <v-layout row>
                    <v-flex xs12>
                        <v-card-title>
                            <h1 class="title--primary">Вход</h1>
                        </v-card-title>
                    </v-flex>
                </v-layout>
                <v-form  ref="form"
                         v-model="valid"
                         validation>
                <v-layout row>
                    <v-flex xs12>
                        <v-card-text>
                            <v-text-field
                                    name="email"
                                    label="Email"
                                    type="email"
                                    v-model="email"
                                    :rules="emailRules"
                            ></v-text-field>
                            <v-text-field
                                    name="password"
                                    label="Password"
                                    type="password"
                                    v-model="password"
                                    :rules="passwordRules"
                                    :counter="12"
                            ></v-text-field>
                        </v-card-text>
                    </v-flex>
                </v-layout>
                <v-layout row>
                    <v-flex xs12>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                    class="success"
                                    @click="onSubmit"
                                    :loading="localLoading"
                                    :disabled="!valid || localLoading"
                            >Войти</v-btn>
                            <v-btn
                                    @click="onCancel"
                                    :disabled="localLoading"
                            >Отмена</v-btn>
                        </v-card-actions>
                    </v-flex>
                </v-layout>
                </v-form>
            </v-container>
        </v-card>
    </v-dialog>

</template>

<script>

    export default {
        name: "LoginModal",
        data(){
            return{
                email: '',
                password: '',
                valid: false,
                modal: false,
                localLoading: false,
                emailRules: [
                    v => !!v || 'Введите Email',
                    v => /.+@.+/.test(v) || 'Нормальную почту введи бля'
                ],
                passwordRules: [
                    v => !!v || 'Введите пароль',
                    v => (v && v.length >= 6) || 'Пароль должен состоять из 6 символов'
                ],
            }
        },
        computed: {
            loading () {
                return this.$store.getters.loading
            }
        },
        methods: {
            onCancel(){
                this.email = ''
                this.password = ''
                this.modal = false
            },
            onSubmit(){
                if (this.$refs.form.validate()){
                    this.localLoading = true
                    const user = {
                        email: this.email,
                        password: this.password
                    }
                    this.$store.dispatch('loginUser', user)
                        .then(() => {
                            this.localLoading = false
                            this.modal = false
                            this.$router.push('/')
                        })
                        .catch(() => {this.localLoading = false})
                }
            }
        }
    }
</script>

<style scoped>
.v-btn{
    padding: 0 15px;
}
</style>