<template>
    <v-dialog width="400px" v-model="modal">
        <v-btn flat slot="activator">Регистрация</v-btn>
        <v-card>
            <v-container>
                <v-layout row>
                    <v-flex xs12>
                        <v-card-title>
                            <h1 class="title--primary">Регистрация</h1>
                        </v-card-title>
                    </v-flex>
                </v-layout>
                <v-form  ref="form"
                         v-model="valid"
                         validation>
                    <v-layout row>
                        <v-flex xs12>
                            <v-card-text>
                                <v-text-field
                                        name="email"
                                        label="Email"
                                        type="email"
                                        v-model="email"
                                        :rules="emailRules"
                                ></v-text-field>
                                <v-text-field
                                        name="password"
                                        label="Пароль"
                                        type="password"
                                        v-model="password"
                                        :rules="passwordRules"
                                        :counter="12"
                                ></v-text-field>
                                <v-text-field
                                        name="confirm-password"
                                        label="Подтвердите пароль"
                                        type="password"
                                        v-model="confirmPassword"
                                        :rules="confirmPasswordRules"
                                        :counter="12"
                                ></v-text-field>
                            </v-card-text>
                        </v-flex>
                    </v-layout>
                    <v-layout row>
                        <v-flex xs12>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn
                                        class="success"
                                        @click="onSubmit"
                                        :loading="localLoading"
                                        :disabled="!valid || localLoading"

                                >Регистрация</v-btn>
                                <v-btn
                                        @click="onCancel"
                                        :disabled="localLoading"
                                >Отмена</v-btn>
                            </v-card-actions>
                        </v-flex>
                    </v-layout>
                </v-form>
            </v-container>
        </v-card>
    </v-dialog>

</template>

<script>

    export default {
        name: "LoginModal",
        data(){
            return{
                modal: false,
                email: '',
                password: '',
                confirmPassword: '',
                valid: false,
                localLoading: false,
                emailRules: [
                    v => !!v || 'Почта где',
                    v => /.+@.+/.test(v) || 'Нормальную почту введи бля'
                ],
                passwordRules: [
                    v => !!v || 'Пароль дебил введи',
                    v => (v && v.length >= 6) || 'Пароль 6 минимум дятел'
                ],
                confirmPasswordRules: [
                    v => !!v || 'Пароль дебил введи',
                    v => v === this.password || 'Пароли не совпадают'
                ]
            }
        },
        /*computed: {
            loading () {
                return this.$store.getters.loading
            }
        },*/
        methods: {
            onCancel(){
                this.email = ''
                this.password = ''
                this.confirmPassword = ''
                this.modal = false
            },
            onSubmit(){
                if (this.$refs.form.validate()){
                    this.localLoading = true
                    const user = {
                        email: this.email,
                        password: this.password
                    }
                    this.$store.dispatch('registerUser', user)
                        .then(() => {
                            this.localLoading = false
                            this.modal = false
                            this.$router.push('/personalAccount')
                        })
                        .catch(() => {this.localLoading = false})
            }
            }
        }
    }
</script>

<style scoped>
    .v-btn{
        padding: 0 15px;
    }
</style>