<template>
    <v-dialog width="600px" v-model="modal">
        <v-btn flat slot="activator" :loading="localLoading">Сдать урок </v-btn>

        <v-card>
            <v-container>
                <v-layout row>
                    <v-flex xs12>
                        <v-card-title>
                            <h1 class="title--primary">Сдать урок</h1>
                        </v-card-title>
                    </v-flex>
                </v-layout>
                <v-form  ref="form"
                         v-model="valid"
                         validation>
                    <v-layout row>
                        <v-flex xs12>
                            <v-card-text>
                                <v-text-field
                                        name="checkSrc"
                                        label="Вставьет ссылку на видео"
                                        type="text"
                                        v-model="checkSrc"
                                        :rules="checkSrcRules"
                                ></v-text-field>
                                <v-textarea
                                        name="checkComment"
                                        label="Добавьте комментарий к вашему видео"
                                        type="text"
                                        v-model="checkComment"
                                ></v-textarea>
                            </v-card-text>
                        </v-flex>
                    </v-layout>
                    <v-layout row>
                        <v-flex xs12>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn
                                        class="success"
                                        @click="onSubmit"
                                        :loading="localLoading"
                                        :disabled="!valid || localLoading"
                                >Сдать на проверку</v-btn>
                                <v-btn
                                        @click="onCancel"
                                        :disabled="localLoading"
                                >Отмена</v-btn>
                            </v-card-actions>
                        </v-flex>
                    </v-layout>
                </v-form>
            </v-container>
        </v-card>
    </v-dialog>

</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        name: "ToCheckModal",
        props: ['thisLessonId', 'thisLessonTitle'],
        data(){
            return{
                checkSrc: '',
                checkComment: '',
                checkOwner: '',
                lessonId: this.thisLessonId,
                lessonTitle: this.thisLessonTitle,
                valid: false,
                modal: false,
                localLoading: false,

                checkSrcRules: [
                    v => !!v || 'Добавьте ссылку на видео'
                ],
            }
        },
        computed: {
            ...mapGetters([
                'loading',
                'user',
            ]),

        },
        mounted() {
           this.checkOwner = this.user.id

        },
        methods: {
            onCancel(){
                this.checkSrc = ''
                this.checkComment = ''
                this.modal = false
            },
            onSubmit(){
                this.youtubeSrcCheck()

                if (this.$refs.form.validate()){
                    this.localLoading = true
                    const checkVideo = {
                        checkSrc: this.checkSrc,
                        checkComment: this.checkComment,
                        checkOwner: this.checkOwner,
                        lessonId: this.lessonId,
                        lessonTitle: this.lessonTitle
                    }
                    this.$store.dispatch('checkVideo', checkVideo)
                        .finally(() => {
                            this.checkSrc = ''
                            this.checkComment = ''
                            this.localLoading = false
                            this.modal = false
                            this.$store.dispatch('fetchLessonsToCheck')
                                .finally(() => {
                                    this.$emit('check')
                                })
                        })
                }
            },
            youtubeSrcCheck() {

                /* Проверка на ютьюб */

                if(this.checkSrc.indexOf('youtu') !== -1){

                    /* Проверка на ссылку формата youtu.be */

                    if(this.checkSrc.indexOf('youtu.be') !== -1){
                        this.checkSrc = 'http://www.youtube.com/embed/' + this.checkSrc.slice(this.checkSrc.indexOf('youtu.be') + 8)
                    } else {
                        let deleteStartIndex = (this.checkSrc.indexOf('watch?v='))
                        let deleteEndIndex = deleteStartIndex + 8

                        /* отрезаем все что до 'youtube', вставляем в начало 'http://www.', заменяем 'watch?v=' на 'embed/' */

                        this.checkSrc = 'http://www.' + (this.checkSrc.slice(0, deleteStartIndex) + 'embed/' + this.checkSrc.slice(deleteEndIndex)).slice(this.checkSrc.indexOf('youtube'))
                    }

                    /* При наличии указателя времени отсекаем его*/

                    if(this.checkSrc.indexOf('&t=') !== -1){
                        this.checkSrc =  this.checkSrc.slice(0, this.checkSrc.indexOf('&t='))
                    }
                }
            }
        }
    }
</script>

<style scoped>
    .v-btn{
        padding: 0 15px;
    }
</style>