<template>
    <v-dialog width="250" v-model="modal">
        <v-flex md6 sm12 xs12 slot="activator" :loading="loading">
            <div class="text-xs-center">
                <v-chip>
                    <v-avatar v-if="thisUser.imageSrc">
                        <img :src="thisUser.imageSrc" alt="">
                    </v-avatar>

                    <v-avatar v-else class="yellow accent-4 black--text">
                        {{thisUser.firstName.slice(0, 1).toUpperCase() }}
                    </v-avatar>

                    {{thisUser.firstName}}   {{thisUser.lastName}}
                </v-chip>
            </div>
        </v-flex>

        <v-card>
            <v-container>
                <v-layout row>
                    <v-flex xs12>
                        <div class="user-info">
                            <img
                                    :src='thisUser.imageSrc'
                                    class="user-avatar"
                                    alt=""
                            >
                            <div class="info-block">
                                <h3>{{thisUser.firstName}}   {{thisUser.lastName}}</h3>
                                <span>Ранг: {{thisUser.userRank}}</span>
                                <span>Прогресс: {{thisUser.userProgress}}</span>
                                <span>Бесед: {{thisUser.threadsCount}}</span>
                                <span>Комментариев: {{thisUser.commentsCount}}</span>
                            </div>
                        </div>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card>
    </v-dialog>
</template>

<script>
    import {mapGetters} from 'vuex'
    export default {
        name: "UserInfoModal",
        props: ['thisItem'],
        data(){
            return{
                thisUser: {},
                modal: false,
                localLoading: false
            }
        },
        computed: {
            ...mapGetters([
                'loading',
                'userList'
            ]),

        },
        created(){
                Object.keys(this.userList).forEach(key => {
                    let user = this.userList[key]
                    if (user.id === this.thisItem.ownerId){
                        this.thisUser = user
                    }
                })
        },
        /*methods: {
            fetchThisUser(){
                Object.keys(this.userList).forEach(key => {
                    let user = this.userList[key]
                    if (user.id === this.lessonToCheck.ownerId){
                        this.thisUser = user
                    }
                })
            }
        },*/
    }
</script>

<style lang="less" scoped>
    .info-block{
        span{
            display: block;
        }
    }
</style>