<template>
    <div class="inner-container">
        <v-layout justify-space-arround class="mt-5 mb-5">
            <v-flex xs12>
                <v-card class="px-5 py-5">
                    <!--<v-img :src="lesson.imgSrc"
                    ></v-img>-->
                    <div class="video-wrapper">
                        <div class="video-block">
                            <div class="video">
                                <iframe
                                        :src="video.videoSrc"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen
                                ></iframe>
                            </div>
                        </div>
                        <div class="more-video">
                            <!--<v-layout row wrap>
                                <v-flex xs12 row nowrap>
                                    <v-card>
                                        <v-img
                                                src="https://joxi.ru/eAOEw55h9q0Y6m.jpg"
                                                aspect-ratio="2.75"
                                        ></v-img>
                                        <div class="my-info">
                                            <h5>Дополнение к уроку №1</h5>
                                            <p>Чувство такта и квадрата</p>
                                        </div>
                                    </v-card>
                                </v-flex>
                                <v-flex xs12 row nowrap>
                                    <v-card>
                                        <v-img
                                                src="https://joxi.ru/eAOEw55h9q0Y6m.jpg"
                                                aspect-ratio="2.75"
                                        ></v-img>
                                        <div class="my-info">
                                            <h5>Дополнение к уроку №1</h5>
                                            <p>Чувство такта и квадрата</p>
                                        </div>
                                    </v-card>
                                </v-flex>
                                <v-flex xs12 row nowrap>
                                    <v-card>
                                        <v-img
                                                src="https://joxi.ru/eAOEw55h9q0Y6m.jpg"
                                                aspect-ratio="2.75"
                                        ></v-img>
                                        <div class="my-info">
                                            <h5>Дополнение к уроку №1</h5>
                                            <p>Чувство такта и квадрата</p>
                                        </div>
                                    </v-card>
                                </v-flex>
                                <v-flex xs12 row nowrap>
                                    <v-card>
                                        <v-img
                                                src="https://joxi.ru/eAOEw55h9q0Y6m.jpg"
                                                aspect-ratio="2.75"
                                        ></v-img>
                                        <div class="my-info">
                                            <h5>Дополнение к уроку №1</h5>
                                            <p>Чувство такта и квадрата</p>
                                        </div>
                                    </v-card>
                                </v-flex>
                            </v-layout>-->
                            <pre class="font-weight-thin">{{video.text}}</pre>
                        </div>
                    </div>
                    <v-card-title primary-title>
                        <div>
                            <h3 class="headline mb-0">{{video.title}}</h3>
                            <h3 class="headline mb-0">{{video.type}}</h3>
                        </div>
                    </v-card-title>

                    <v-card-text>
                        {{video.description}}
                    </v-card-text>

                    <img :src="video.imageSrc" alt="">

                </v-card>
            </v-flex>
        </v-layout>
    </div>
</template>

<script>
    export default {
        name: 'Stream',
        props: ['id'],
        computed: {
            video () {
                const id = this.id
                return this.$store.getters.streamById(id)
            }
        }
    }
</script>

<style scoped>

</style>