<template>
    <div>
        <v-parallax
                dark
                height="450"
                src="https://wallpapercave.com/wp/wp3424776.jpg"
                class="mt-10"
        >
            <v-layout
                    column
            >
                <h1 class="display-2 font-weight-thin">Уроки</h1>
                <p class="font-weight-thin">Обучение игре на гитаре с нуля до профессионала</p>
            </v-layout>
        </v-parallax>
        <div class="main-container">
            <v-layout wrap justify-space-between>
                <v-flex xs4
                        v-for="video of streams"
                        :key="video.id"
                        class="my-card-flex"
                >
                    <v-card class="video-card">
                        <router-link :to="'/stream/' + video.id">
                            <iframe
                                    :src="video.videoSrc"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen
                            ></iframe>
                        </router-link>
                        <v-card-title primary-title>
                            <div>
                                <h3 class="headline mb-0">{{video.title}}</h3>
                            </div>
                            <div>
                                <h3 class="headline mb-0">{{video.type}}</h3>
                            </div>
                        </v-card-title>

                        <v-card-text>
                            {{video.description}}
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                    class="catalog-card-btn"
                                    flat
                                    color="orange"
                                    :to="'/stream/' + video.id"

                            >Просмотреть урок</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>
            </v-layout>
        </div>
    </div>
</template>

<script>
    export default {

        computed: {
            streams (){
                return this.$store.getters.streams
            }
        }
    }
</script>

<style scoped lang="less">
    .main-container .flex.xs4.my-card-flex{
        margin-bottom: 20px;
        iframe {
            width: 100%;
        }
    }

</style>