<template>
    <div class="sidebar forum-card-inner">
        <div class="user-info">
            <img
                    :src='thisUser.imageSrc'
                    class="user-avatar"
                    alt=""
            >
            <div class="info-block">
                <h3>{{thisUser.firstName}}   {{thisUser.lastName}}</h3>
                <span>Ранг: {{thisUser.userRank}}</span>
                <span>Прогресс: {{thisUser.userProgress}}</span>
                <span>Бесед: {{thisUser.threadsCount}}</span>
                <span>Комментариев: {{thisUser.commentsCount}}</span>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    export default {
        name: "CommentOwnerInfo",
        props: ['thisItem'],
        data(){
            return{
                thisUser: {},
                localLoading: false
            }
        },
        computed: {
            ...mapGetters([
                'loading',
                'userList'
            ]),

        },
        created(){
            Object.keys(this.userList).forEach(key => {
                let user = this.userList[key]
                if (user.id === this.thisItem.ownerId){
                    this.thisUser = user
                }
            })
        },
    }
</script>

<style lang="less" scoped>
    .info-block{
        span{
            display: block;
        }
    }
</style>