<template>
    <v-dialog width="fit-content" v-model="modal">
        <v-list-tile flat slot="activator" :loading="localLoading" :disabled="localLoading|| !isUserLoggedIn">
            <v-list-tile-title>Удалить тему</v-list-tile-title>
        </v-list-tile>
        <v-card>
            <v-container>
                <v-layout row>
                    <v-flex xs12>
                        <v-card-title>
                            <span class="title--primary">Вы действительно хотите удалить эту тему и все комментарии к ней?</span>
                        </v-card-title>
                    </v-flex>
                </v-layout>
                <v-layout row>
                    <v-flex xs12>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                    class="error"
                                    :loading="localLoading"
                                    :disabled="localLoading"
                                    @click="deleteThread"
                            >Удалить</v-btn>
                            <v-btn
                                    @click="onCancel"
                                    :disabled="localLoading"
                            >Отмена</v-btn>
                        </v-card-actions>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "DeleteThreadModal",
        props: ['thisThreadId'],
        data(){
            return{
                modal: false,
                localLoading: false,
            }
        },
        computed: {
            isUserLoggedIn() {
                return this.$store.getters.isUserLoggedIn
            },
            loading () {
                return this.$store.getters.loading
            },
            thread () {
                const id = this.thisThreadId
                return this.$store.getters.threadById(id)
            }
        },
        created(){
            this.title = this.thread.title
            this.content = this.thread.content
        },
        methods: {
            onCancel(){
                this.modal = false
            },
            deleteThread(){
                this.localLoading = true
                let threadId = this.thread.threadId
                let ownerId = this.thread.ownerId
                const threadToDelete = {
                    threadId,
                    ownerId
                }
                console.log(threadToDelete)
                this.$store.dispatch('deleteThread', threadToDelete)
                    .then(() => {
                        this.localLoading = false
                        this.modal = false
                        this.$store.dispatch('autoLoginUser')
                        this.$store.dispatch('fetchUsers')
                        this.$store.dispatch('fetchThreads')
                        this.$router.push('/Forum')
                    })
            }
        }

    }
</script>

<style scoped>
    .v-dialog__container:hover{
        background: rgba(255,255,255,0.08);
    }
</style>