<template>
    <v-dialog width="fit-content" v-model="modal">
        <v-list-tile flat slot="activator" :loading="localLoading" :disabled="localLoading|| !isUserLoggedIn">
            <v-list-tile-title>Удалить комментарий</v-list-tile-title>
        </v-list-tile>
        <v-card>
            <v-container>
                <v-layout row>
                    <v-flex xs12>
                        <v-card-title>
                            <span class="title--primary">Вы действительно хотите удалить комментарий?</span>
                        </v-card-title>
                    </v-flex>
                </v-layout>
                <v-layout row>
                    <v-flex xs12>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                    class="error"
                                    :loading="localLoading"
                                    :disabled="localLoading"
                                    @click="deleteComment"
                            >Удалить</v-btn>
                            <v-btn
                                    @click="onCancel"
                                    :disabled="localLoading"
                            >Отмена</v-btn>
                        </v-card-actions>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card>
    </v-dialog>
</template>

<script>
    export default {
        name: "DeleteCommentModal",
        props: ['thisCommentId'],
        data(){
            return{
                modal: false,
                localLoading: false,
            }
        },
        computed: {
            isUserLoggedIn() {
                return this.$store.getters.isUserLoggedIn
            },
            loading () {
                return this.$store.getters.loading
            },
            thisComment () {
                const id = this.thisCommentId
                return this.$store.getters.commentById(id)
            }
        },
        methods: {
            onCancel(){
                this.modal = false
            },
            deleteComment(){
                this.localLoading = true
                let commentId = this.thisComment.commentId
                let threadId = this.thisComment.threadId
                let ownerId = this.thisComment.ownerId
                const commentToDelete = {
                    commentId,
                    threadId,
                    ownerId
                }
                console.log(commentToDelete)
                this.$store.dispatch('deleteComment', commentToDelete)
                    .then(() => {
                        this.localLoading = false
                        this.modal = false
                        this.$store.dispatch('fetchThreads')
                        this.$store.dispatch('autoLoginUser')
                        this.$store.dispatch('fetchUsers')
                        this.$store.dispatch('fetchComments')
                    })
            }
        }

    }
</script>

<style scoped>
    .v-dialog__container:hover{
        background: rgba(255,255,255,0.08);
    }
</style>
