<template>
    <div>
        <v-parallax
                dark
                height="450"
                src="https://wallpapercave.com/wp/wp3424776.jpg"
                class="mt-10"
        >
            <v-layout
                    column
            >
                <h1 class="display-2 font-weight-thin">Форум</h1>
            </v-layout>
        </v-parallax>
        <div class="main-container" :loading="loading">

            <new-thread-modal></new-thread-modal>

            <v-card class="forum-card"
                    v-for="thread in threads"
                     :key="thread.threadId">
               <!-- <v-img
                        src="https://cdn.vuetifyjs.com/images/cards/desert.jpg"
                        aspect-ratio="2.75"
                ></v-img>-->

                <div class="thread-info">
                    <user-info-modal :thisItem="thread"></user-info-modal>
                    <span class="thread-data">{{thread.creationDate}} </span>
                    <span class="thread-data">Комментариев:  {{thread.commentsCount}} </span>
                </div>
                <v-card-title primary-title>
                    <div>
                        <router-link :to="'/thread/' + thread.threadId">
                            <h3>{{thread.title}}</h3>
                        </router-link>
                    </div>
                </v-card-title>
                <!--<div>{{thread.content}}</div>-->

                <div v-if="isUserLoggedIn">
                    <v-menu offset-y v-if="user.id === thread.ownerId">

                        <template v-slot:activator="{ on }">
                            <v-icon dark v-on="on">settings</v-icon>
                        </template>

                        <v-list>
                            <update-thread-modal v-if="user.id === thread.ownerId" :thisThreadId="thread.threadId"></update-thread-modal>
                            <delete-thread-modal v-if="user.id === thread.ownerId" :thisThreadId="thread.threadId"></delete-thread-modal>
                        </v-list>
                    </v-menu>
                </div>

                <!--<v-card-actions>
                    <div v-if="isUserLoggedIn">

                        <update-thread-modal v-if="user.id === thread.ownerId" :thisThreadId="thread.threadId"></update-thread-modal>

                        <v-btn
                                flat
                                :loading="localLoading"
                                :disabled="localLoading"
                                v-if="user.id === thread.ownerId"
                                :thisThreadId="thread.threadId"
                                @click="deleteThread"
                        >Удалить пост
                        </v-btn>
                    </div>
                </v-card-actions>-->

                <v-btn flat
                       icon color="deep-orange"
                       disabled

                >
                    <span class="likes-counter">Нравится:  {{Object.keys(thread.likes).length}}</span>
                   <!-- <v-icon>thumb_up</v-icon>-->
                </v-btn>

            </v-card>

          <!--  <v-expansion-panel>
                <v-expansion-panel-content
                        v-for="thread in threads"
                        :key="thread.threadId"
                >
                    <template v-slot:header>
                        <div>{{thread.title}}</div>
                        <span>{{thread.creationDate}} </span>

                        <user-info-modal :thisLessonToCheck="thread"></user-info-modal>

                    </template>
                    <v-card>
                        <v-card-text>{{thread.content}}</v-card-text>

                        <div v-if="isUserLoggedIn">
                            <update-thread-modal v-if="user.id === thread.ownerId" :thisThreadId="thread.threadId"></update-thread-modal>

                            <v-btn
                                    flat
                                    :loading="localLoading"
                                    :disabled="localLoading"
                                    v-if="user.id === thread.ownerId"
                                    :thisThreadId="thread.threadId"
                                    @click="deleteThread"
                            >Удалить пост
                            </v-btn>
                        </div>

                    </v-card>
                </v-expansion-panel-content>
            </v-expansion-panel>-->

        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    export default {
        name: "Forum",

        data(){
            return{
                localLoading: false
            }
        },

        computed: {
            ...mapGetters([
                'user',
                'isUserLoggedIn',
                'loading',
                'userList',
                'threads',
                'comments'
            ]),

        },
    }
</script>

<style lang="less" scoped>

</style>