<template>
    <v-dialog width="800px" v-model="modal" v-if="isUserLoggedIn">
        <v-btn flat slot="activator" :loading="localLoading" :disabled="localLoading || !isUserLoggedIn">Добавить новую тему</v-btn>
        <v-card>
            <v-container>
                <v-layout row>
                    <v-flex xs12>
                        <v-card-title>
                            <h1 class="title--primary">Новая тема</h1>
                        </v-card-title>
                    </v-flex>
                </v-layout>
                <v-form  ref="form"
                         v-model="valid"
                         validation>
                    <v-layout row>
                        <v-flex xs12>
                            <v-card-text>
                                <v-text-field
                                        name="title"
                                        label="Тема для обсуждения"
                                        type="text"
                                        v-model="title"
                                        :rules="titleRules"
                                ></v-text-field>
                                <v-textarea
                                        name="content"
                                        label="Содержание"
                                        type="content"
                                        v-model="content"
                                        :rules="contentRules"
                                ></v-textarea>
                            </v-card-text>
                        </v-flex>
                    </v-layout>
                    <v-layout row>
                        <v-flex xs12>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn
                                        class="success"
                                        @click="onCreateThread"
                                        :loading="localLoading"
                                        :disabled="!valid || localLoading"

                                >Сохранить</v-btn>
                                <v-btn
                                        @click="onCancel"
                                        :disabled="localLoading"
                                >Отмена</v-btn>
                            </v-card-actions>
                        </v-flex>
                    </v-layout>
                </v-form>
            </v-container>
        </v-card>
    </v-dialog>
    <v-dialog width="fit-content" v-model="modal" v-else>
        <v-btn flat slot="activator" :loading="localLoading" :disabled="localLoading || !isUserLoggedIn">Добавить новую тему</v-btn>
        <v-card>
            <v-container>
                <v-layout row>
                    <v-flex xs12>
                        <v-card-title>
                            <span class="title--primary">Только зарегистрированные пользователи могут добавлять новые темы</span>
                        </v-card-title>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card>
    </v-dialog>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        name: "NewThreadModal",
        data(){
            return{
                modal: false,
                title: '',
                content: '',
                valid: false,
                localLoading: false,
                titleRules: [
                    v => !!v || 'Введите название темы'
                ],
                contentRules: [
                    v => !!v || 'Добавьте содержание темы для обсуждения'
                ]
            }
        },
        computed: {
            ...mapGetters([
                'user',
                'isUserLoggedIn',
                'loading',
                'userList'
            ])
        },
        /*mounted(){
            this.ownerId = this.user.id
        },*/
        methods: {
            onCancel(){
                this.title = ''
                this.content = ''
                this.modal = false
            },
            onCreateThread(){
                if (this.$refs.form.validate()){
                    this.localLoading = true
                    const newThread = {
                        title: this.title,
                        content: this.content,
                        ownerId: this.user.id
                    }
                    console.log(newThread)
                    this.$store.dispatch('createNewThread', newThread)
                        .finally(() => {
                            this.title = ''
                            this.content = ''
                            this.$store.dispatch('autoLoginUser')
                            this.$store.dispatch('fetchUsers')
                            this.localLoading = false
                            this.modal = false
                        })
                }
            }
        }
    }
</script>

<style scoped>

</style>