<template>
    <div>
        <v-parallax
                dark
                height="450"
                src="https://wallpapercave.com/wp/wp3424776.jpg"
                class="mt-10"
        >
            <v-layout
                    column
            >
                <h1 class="display-2 font-weight-thin">Форум</h1>
            </v-layout>
        </v-parallax>
        <div class="main-container" :loading="loading">

            <!-----------------------------------------------comment-card---------------------------------------------->

            <v-card class="forum-card thread-inner">
                <div class="thread-info">
                    <!-- <user-info-modal :thisItem="thread"></user-info-modal>-->
                    <span class="thread-data">{{thread.creationDate}} </span>
                    <span class="thread-data">Комментариев:  {{thread.commentsCount}} </span>
                </div>

                <comment-owner-info :thisItem="thread"></comment-owner-info>

                <div class="forum-card-inner">
                    <div class="thread-title">
                        <h3 class="headline mb-0">{{thread.title}}</h3>
                    </div>
                    <div class="thread-content">
                        <p>{{thread.content}}</p>
                    </div>
                </div>

                <div v-if="isUserLoggedIn">
                    <v-menu offset-y v-if="user.id === thread.ownerId">
                        <template v-slot:activator="{ on }">
                            <v-icon dark v-on="on">settings</v-icon>
                        </template>
                        <v-list>
                            <update-thread-modal v-if="user.id === thread.ownerId" :thisThreadId="thread.threadId"></update-thread-modal>
                            <delete-thread-modal v-if="user.id === thread.ownerId" :thisThreadId="thread.threadId"></delete-thread-modal>
                        </v-list>
                    </v-menu>
                </div>

                <v-btn v-if="thisUserLiked"
                        flat
                       icon color="primary"
                       :disabled="!isUserLoggedIn"
                       @click="like"
                >
                    <span class="likes-counter">{{likesCount}}</span>
                    <v-icon>thumb_up</v-icon>
                </v-btn>

                <v-btn v-else
                        flat
                       icon color="grey"
                       :disabled="!isUserLoggedIn"
                       @click="like"
                >
                    <span class="likes-counter">{{likesCount}}</span>
                    <v-icon>thumb_up</v-icon>
                </v-btn>

            </v-card>

            <!------------------------------------------------comment-card--------------------------------------------->

            <v-card class="forum-card thread-inner"
                    v-for="comment in sortedComments"
                    :key="comment.commentId">

                <div class="thread-info">
                    <span class="thread-data">{{comment.creationDate}} </span>
                </div>

                <comment-owner-info :thisItem="comment"></comment-owner-info>

                <div class="forum-card-inner">
                    <div class="thread-content">
                        <p>{{comment.comment}}</p>
                    </div>
                </div>

                <div v-if="isUserLoggedIn">
                    <v-menu offset-y v-if="user.id === comment.ownerId">
                        <template v-slot:activator="{ on }">
                            <v-icon dark v-on="on">settings</v-icon>
                        </template>
                        <v-list>
                            <update-comment-modal v-if="user.id === comment.ownerId" :thisCommentId="comment.commentId"></update-comment-modal>
                            <delete-comment-modal v-if="user.id === comment.ownerId" :thisCommentId="comment.commentId"></delete-comment-modal>
                        </v-list>
                    </v-menu>
                </div>

            </v-card>

            <v-card>
                <v-form v-model="valid" ref="form" validation>
                    <v-layout row wrap>
                        <v-flex
                                xs12
                        >
                            <v-textarea
                                    v-model="comment"
                                    label="Ваш комментарий"
                                    :rules="commentRules"
                                    required
                            ></v-textarea>

                            <emoji-picker @emoji="append" :search="search">

                                <div
                                        class="emoji-invoker"
                                        slot="emoji-invoker"
                                        slot-scope="{ events: { click: clickEvent } }"
                                        @click.stop="clickEvent"
                                >
                                    <svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M0 0h24v24H0z" fill="none"/>
                                        <path d="M11.99 2C6.47 2 2 6.48 2 12s4.47 10 9.99 10C17.52 22 22 17.52 22 12S17.52 2 11.99 2zM12 20c-4.42 0-8-3.58-8-8s3.58-8 8-8 8 3.58 8 8-3.58 8-8 8zm3.5-9c.83 0 1.5-.67 1.5-1.5S16.33 8 15.5 8 14 8.67 14 9.5s.67 1.5 1.5 1.5zm-7 0c.83 0 1.5-.67 1.5-1.5S9.33 8 8.5 8 7 8.67 7 9.5 7.67 11 8.5 11zm3.5 6.5c2.33 0 4.31-1.46 5.11-3.5H6.89c.8 2.04 2.78 3.5 5.11 3.5z"/>
                                    </svg>
                                </div>

                                <div slot="emoji-picker" slot-scope="{ emojis, insert, display }">
                                    <div class="emoji-picker">
                                        <div class="emoji-picker__search">
                                            <input type="text" v-model="search" v-focus>
                                        </div>

                                        <div>
                                            <div v-for="(emojiGroup, category) in emojis" :key="category">
                                                <h5>{{ category }}</h5>
                                                <div class="emojis">
                                                    <span
                                                            v-for="(emoji, emojiName) in emojiGroup"
                                                            :key="emojiName"
                                                            @click="insert(emoji)"
                                                            :title="emojiName"
                                                    >{{ emoji }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </emoji-picker>


                        </v-flex>
                        <v-flex
                                xs12
                        >
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn
                                        class="success"
                                        :loading="localLoading"
                                        :thisThreadId="thread.threadId"
                                        :disabled="!valid || localLoading || !isUserLoggedIn"
                                        @click="onSubmit"
                                >Оставить комментарий
                                </v-btn>
                            </v-card-actions>
                        </v-flex>
                    </v-layout>
                </v-form>
            </v-card>

        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'

    export default {
        name: "Thread",
        props: ['id'],
        data(){
            return{
                valid: false,
                comment: '',
                search: '',
                localLoading: false,
                threadId: this.id,
               /* thisUser: {},*/
                commentRules: [
                    v => !!v || 'Введите комментарий'
                ],
            }
        },
        computed: {
            ...mapGetters([
                'user',
                'isUserLoggedIn',
                'loading',
                'userList',
                'threads',
                'comments'
                ]),
            thread () {
                const id = this.id
                return this.$store.getters.threadById(id)
            },
            sortedComments () {
                let commentsSortedList = []
                Object.keys(this.comments).forEach(key => {
                    if (this.comments[key].threadId === this.threadId) {
                        commentsSortedList.push(this.comments[key])
                    }
                })
                return commentsSortedList;
            },
            thisUser(){
                let thisThreadUser = {}
                Object.keys(this.userList).forEach(key => {
                    let user = this.userList[key]
                    if (user.id === this.thread.ownerId) {
                        thisThreadUser = user
                    }
                })
                console.log(this.thread)
                console.log(thisThreadUser)
                return thisThreadUser
            },
            likesCount(){
               /* let likesCount = 0;
                for (let key in this.thread.likes) {
                    likesCount++;
                }
                return likesCount*/
                return Object.keys(this.thread.likes).length
            },
            thisUserLiked(){
                let userId = this.user.id
                let thread = this.thread

                if (thread.likes && thread.likes.hasOwnProperty(userId)) {
                    return true
                }
                /*console.log('nope')*/
            },
        },
        /* beforeCreate(){
            this.$store.dispatch('fetchUsers')
            this.$store.dispatch('fetchThreads')
        },
       created(){
            Object.keys(this.userList).forEach(key => {
                let user = this.userList[key]
                if (user.id === this.thread.ownerId) {
                    this.thisUser = user
                }
            })
        },*/
        methods: {
            onSubmit() {
                if (this.$refs.form.validate()) {
                    this.localLoading = true
                    const newComment = {
                        comment: this.comment,
                        ownerId: this.user.id,
                        threadId: this.threadId
                    }
                    console.log(newComment)
                    this.$store.dispatch('addComment', newComment)
                        .finally(() => {
                            this.localLoading = false
                            this.$store.dispatch('fetchThreads')
                            this.$store.dispatch('autoLoginUser')
                            this.$store.dispatch('fetchUsers')
                            this.$store.dispatch('fetchComments')
                        })
                }
            },
            like(){
                this.localLoading = true
                const likeData = {
                    threadId: this.threadId,
                    userId: this.user.id,
                    ownerId: this.thread.ownerId
                }
                console.log(likeData)
                this.$store.dispatch('addLike', likeData)
                    .finally(() => {
                        this.localLoading = false
                        this.$store.dispatch('fetchThreads')
                        this.$store.dispatch('autoLoginUser')
                        this.$store.dispatch('fetchUsers')
                    })
            },

            append(emoji) {
                this.comment += emoji
            },

        },
        directives: {
            focus: {
                inserted(el) {
                    el.focus()
                },
            },
        },
    }
</script>

<style scoped>
    .hidden{
        display: none;
    }
    .v-dialog__container{
        flex-grow: 0;
    }
    .v-card {
        margin-bottom: 20px;
    }
    .v-icon{
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: 15px;
    }

    .likes-counter{
        position: relative;
        left: -25px;
    }






    .regular-input {
        padding: 0.5rem 1rem;
        border-radius: 3px;
        border: 1px solid #ccc;
        width: 20rem;
        height: 12rem;
        outline: none;
    }

    .regular-input:focus {
        box-shadow: 0 0 0 3px rgba(66,153,225,.5);
    }

    .emoji-invoker {
        position: absolute;
        top: 0;
        right: 0;
        width: 1.5rem;
        height: 1.5rem;
        border-radius: 50%;
        cursor: pointer;
        transition: all 0.2s;
    }
    .emoji-invoker:hover {
        transform: scale(1.1);
    }
    .emoji-invoker > svg {
        fill: #b1c6d0;
    }

    .emoji-picker {
        top: 25px;
        right: 25px;
        width: 300px;
        height: 150px;


        position: absolute;
        z-index: 1;
        font-family: sans-serif;
        border: 1px solid #ccc;
        overflow-y: scroll;
        padding: 1rem;
        box-sizing: border-box;
        border-radius: 0.5rem;
        background: #fff;
        box-shadow: 1px 1px 8px #c7dbe6;
    }
    .emoji-picker__search {
        display: flex;
    }
    .emoji-picker__search > input {
        color: #000;
        
        
        flex: 1;
        border-radius: 10rem;
        border: 1px solid #ccc;
        padding: 0.5rem 1rem;
        outline: none;
    }
    .emoji-picker h5 {
        margin-bottom: 0;
        color: #b1b1b1;
        text-transform: uppercase;
        font-size: 0.8rem;
        cursor: default;
    }
    .emoji-picker .emojis {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .emoji-picker .emojis:after {
        content: "";
        flex: auto;
    }
    .emoji-picker .emojis span {
        padding: 0.2rem;
        cursor: pointer;
        border-radius: 5px;
    }
    .emoji-picker .emojis span:hover {
        background: #ececec;
        cursor: pointer;
    }



</style>