<template>
    <v-dialog width="800px" v-model="modal">
        <v-list-tile flat slot="activator" :loading="localLoading" :disabled="localLoading || !isUserLoggedIn">
            <v-list-tile-title>Редактировать тему</v-list-tile-title>
        </v-list-tile>
        <v-card>
            <v-container>
                <v-layout row>
                    <v-flex xs12>
                        <v-card-title>
                            <h1 class="title--primary">Редактировать тему</h1>
                        </v-card-title>
                    </v-flex>
                </v-layout>
                <v-form  ref="form"
                         v-model="valid"
                         validation>
                    <v-layout row>
                        <v-flex xs12>
                            <v-card-text>
                                <v-text-field
                                        name="title"
                                        label="Тема для обсуждения"
                                        type="text"
                                        v-model="title"
                                        :rules="titleRules"
                                ></v-text-field>
                                <v-textarea
                                        name="content"
                                        label="Содержание"
                                        type="content"
                                        v-model="content"
                                        :rules="contentRules"
                                ></v-textarea>
                            </v-card-text>
                        </v-flex>
                    </v-layout>
                    <v-layout row>
                        <v-flex xs12>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn
                                        class="success"
                                        @click="onUpdateThread"
                                        :loading="localLoading"
                                        :disabled="!valid || localLoading"

                                >Сохранить</v-btn>
                                <v-btn
                                        @click="onCancel"
                                        :disabled="localLoading"
                                >Отмена</v-btn>
                            </v-card-actions>
                        </v-flex>
                    </v-layout>
                </v-form>
            </v-container>
        </v-card>
    </v-dialog>
</template>

<script>

    export default {
        name: "UpdateThreadModal",
        props: ['thisThreadId'],
        data(){
            return{
                modal: false,
                title: '',
                content: '',
                valid: false,
                localLoading: false,
                titleRules: [
                    v => !!v || 'Введите название темы'
                ],
                contentRules: [
                    v => !!v || 'Добавьте содержание темы для обсуждения'
                ]
            }
        },
        computed: {
            isUserLoggedIn() {
                return this.$store.getters.isUserLoggedIn
            },
            loading () {
                return this.$store.getters.loading
            },
            thread () {
                const id = this.thisThreadId
                return this.$store.getters.threadById(id)
            }
        },
        created(){
            this.title = this.thread.title
            this.content = this.thread.content
        },
        methods: {
            onCancel(){
                this.title = this.thread.title
                this.content = this.thread.content
                this.modal = false
            },
            onUpdateThread(){
                if (this.$refs.form.validate()){
                    this.localLoading = true
                    const updatedThread = {
                        title: this.title,
                        content: this.content,
                        threadId: this.thisThreadId
                    }
                    console.log(updatedThread)
                    this.$store.dispatch('updateThread', updatedThread)
                        .finally(() => {
                            this.localLoading = false
                            this.modal = false
                        })
                }
            }
        }
    }
</script>

<style scoped>
.v-dialog__container:hover{
    background: rgba(255,255,255,0.08);
}
</style>