<template>
    <v-dialog width="800px" v-model="modal">
        <v-list-tile flat slot="activator" :loading="localLoading" :disabled="localLoading || !isUserLoggedIn">
            <v-list-tile-title>Редактировать комментарий</v-list-tile-title>
        </v-list-tile>
        <v-card>
            <v-container>
                <v-layout row>
                    <v-flex xs12>
                        <v-card-title>
                            <h1 class="title--primary">Редактировать комментарий</h1>
                        </v-card-title>
                    </v-flex>
                </v-layout>
                <v-form  ref="form"
                         v-model="valid"
                         validation>
                    <v-layout row>
                        <v-flex xs12>
                            <v-card-text>
                                <v-textarea
                                        name="content"
                                        label="Содержание"
                                        type="content"
                                        v-model="comment"
                                        :rules="commentRules"
                                ></v-textarea>
                            </v-card-text>
                        </v-flex>
                    </v-layout>
                    <v-layout row>
                        <v-flex xs12>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn
                                        class="success"
                                        @click="onUpdateComment"
                                        :loading="localLoading"
                                        :disabled="!valid || localLoading"

                                >Сохранить</v-btn>
                                <v-btn
                                        @click="onCancel"
                                        :disabled="localLoading"
                                >Отмена</v-btn>
                            </v-card-actions>
                        </v-flex>
                    </v-layout>
                </v-form>
            </v-container>
        </v-card>
    </v-dialog>
</template>

<script>

    export default {
        name: "UpdateCommentModal",
        props: ['thisCommentId'],
        data(){
            return{
                modal: false,
                comment: '',
                valid: false,
                localLoading: false,
                commentRules: [
                    v => !!v || 'Добавьте комментарий'
                ]
            }
        },
        computed: {
            isUserLoggedIn() {
                return this.$store.getters.isUserLoggedIn
            },
            loading () {
                return this.$store.getters.loading
            },
            thisComment () {
                const id = this.thisCommentId
                return this.$store.getters.commentById(id)
            }
        },
        created(){
            this.comment = this.thisComment.comment
        },
        methods: {
            onCancel(){
                this.comment = this.thisComment.comment
                this.modal = false
            },
            onUpdateComment(){
                if (this.$refs.form.validate()){
                    this.localLoading = true
                    const updatedComment = {
                        comment: this.comment,
                        commentId: this.thisCommentId
                    }
                    console.log(updatedComment)
                    this.$store.dispatch('updateComment', updatedComment)
                        .finally(() => {
                            this.localLoading = false
                            this.modal = false
                        })
                }
            }
        }
    }
</script>

<style scoped>
    .v-dialog__container:hover{
        background: rgba(255,255,255,0.08);
    }
</style>
