<template>
    <div>
        <v-parallax
                dark
                height="450"
                src="https://wallpapercave.com/wp/wp3424776.jpg"
                class="mt-10"
        >
            <v-layout
                    column
            >
                <h1 class="display-2 font-weight-thin">Уроки</h1>
                <p class="font-weight-thin">Обучение игре на гитаре с нуля до профессионала</p>
            </v-layout>
        </v-parallax>

        <div class="main-container">
            <v-layout wrap justify-space-between>
                <v-flex xs4
                    v-for="video of lessons"
                    :key="video.id"
                    class="my-card-flex"
                >
                    <v-card class="video-card">
                        <router-link :to="'/lesson/' + video.id">
                            <iframe
                                    :src="video.videoSrc"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen
                            ></iframe>
                        </router-link>

                        <v-card-title primary-title>
                            <div>
                                <h3 class="headline mb-0">{{video.title}} {{video.type}} {{video.number}}</h3>
                            </div>
                            <div>
                                <h3 class="headline mb-0"></h3>
                            </div>
                        </v-card-title>

                        <v-card-text>
                            {{video.description}}
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                    class="catalog-card-btn"
                                    flat
                                    color="orange"
                                    :to="'/lesson/' + video.id"

                            >Просмотреть урок</v-btn>
                        </v-card-actions>
                        <!--<div class="controls">
                            <to-check-modal :thisLessonId = video.id :thisLessonTitle="video.title" v-if="user.userProgress == video.number"></to-check-modal>
                            <span v-else-if="user.userProgress > video.number">урок пройден</span>
                            <span v-else>ещё рановато</span>
                        </div>-->
                        <div class="controls">
                            <div v-if="user.userProgress == video.number">
                                <div class="cancel-controls" v-if="onCheckMethod">
                                    <span class="status">Ожидает проверки...</span>
                                    <v-btn flat @click="myCancel()" :loading="localLoading">Отменить</v-btn>
                                </div>

                                <to-check-modal v-else
                                                :thisLessonId = video.id
                                                :thisLessonTitle="video.title"

                                ></to-check-modal>
                            </div>
                            <span v-else-if="user.userProgress > video.number">урок пройден</span>
                            <span v-else>ещё рановато</span>
                        </div>

                    </v-card>
                </v-flex>
            </v-layout>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        data () {
            return {
                isOnCheck: null,
                localLoading: false,
            }
        },
        beforeCreate() {
            this.isOnCheck = false
        },
        beforeMount() {

        },

        computed: {
            ...mapGetters([
                'loading',
                'user',
                'lessons',
                "lessonsToCheck"
            ]),
            onCheckMethod () {
                let user = this.user
                let timeCheck = false

                this.lessonsToCheck.forEach(function(lesson) {
                    if(lesson.ownerId === user.id){
                        timeCheck = true
                    }
                })
                return timeCheck
            }

        },
        watch: {

        },
        methods: {
            myCancel(){
                this.localLoading = true
                let ownerId = this.user.id
                let tutorComment = ''
                let count = 0
                const tutorOpinion = {
                    ownerId,
                    tutorComment,
                    count
                }
                this.$store.dispatch('lessonPassed', tutorOpinion)
                    .finally(() => {
                        this.localLoading = false
                        this.$store.dispatch('fetchLessonsToCheck')
                    })
            },
        }
    }
</script>

<style scoped lang="less">
    .main-container .flex.xs4.my-card-flex{
        margin-bottom: 20px;
        iframe {
            width: 100%;
        }
    }

</style>