<template>
    <div class="inner-container">
        <v-layout justify-space-arround class="mt-5 mb-5">
        <v-flex xs12>
            <v-card class="px-5 py-5">
                <!-- <v-img :src="lesson.imgSrc"></v-img> -->
                <div class="video-wrapper">
                    <div class="video-block">
                        <div class="video">
                            <iframe
                                    :src="video.videoSrc"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen
                            ></iframe>
                        </div>
                    </div>
                    <div class="more-video">
                        <!--<v-layout row wrap>
                            <v-flex xs12 row nowrap>
                                <v-card>
                                    <v-img
                                            src="https://joxi.ru/eAOEw55h9q0Y6m.jpg"
                                            aspect-ratio="2.75"
                                    ></v-img>
                                    <div class="my-info">
                                        <h5>Дополнение к уроку №1</h5>
                                        <p>Чувство такта и квадрата</p>
                                    </div>
                                </v-card>
                            </v-flex>
                            <v-flex xs12 row nowrap>
                                <v-card>
                                    <v-img
                                            src="https://joxi.ru/eAOEw55h9q0Y6m.jpg"
                                            aspect-ratio="2.75"
                                    ></v-img>
                                    <div class="my-info">
                                        <h5>Дополнение к уроку №1</h5>
                                        <p>Чувство такта и квадрата</p>
                                    </div>
                                </v-card>
                            </v-flex>
                            <v-flex xs12 row nowrap>
                                <v-card>
                                    <v-img
                                            src="https://joxi.ru/eAOEw55h9q0Y6m.jpg"
                                            aspect-ratio="2.75"
                                    ></v-img>
                                    <div class="my-info">
                                        <h5>Дополнение к уроку №1</h5>
                                        <p>Чувство такта и квадрата</p>
                                    </div>
                                </v-card>
                            </v-flex>
                            <v-flex xs12 row nowrap>
                                <v-card>
                                    <v-img
                                            src="https://joxi.ru/eAOEw55h9q0Y6m.jpg"
                                            aspect-ratio="2.75"
                                    ></v-img>
                                    <div class="my-info">
                                        <h5>Дополнение к уроку №1</h5>
                                        <p>Чувство такта и квадрата</p>
                                    </div>
                                </v-card>
                            </v-flex>
                        </v-layout>-->
                        <pre class="font-weight-thin">{{video.text}}</pre>
                    </div>
                </div>
                <v-card-title primary-title>
                    <div>
                        <h3 class="headline mb-0">{{video.title}}</h3>
                        <h3 class="headline mb-0">{{video.type}}  {{video.number}}</h3>
                    </div>
                </v-card-title>

                <v-card-text>
                    {{video.description}}
                </v-card-text>

                <img :src="video.imageSrc" alt="">

                <div class="controls">
                    <div v-if="user.userProgress == video.number">
                        <div class="cancel-controls" v-if="onCheckMethod">
                            <span class="status">Ожидает проверки...</span>
                            <v-btn flat @click="myCancel" :loading="localLoading">Отменить</v-btn>
                        </div>

                        <to-check-modal v-else
                                        :thisLessonId = video.id
                                        :thisLessonTitle="video.title"

                        ></to-check-modal>
                    </div>
                    <span v-else-if="user.userProgress > video.number">урок пройден</span>
                    <span v-else>ещё рановато</span>
                </div>
            </v-card>

        </v-flex>
        </v-layout>

    </div>
</template>

<script>
    import { mapGetters } from 'vuex'
    export default {
        props: ['id'],
        data () {
            return {
                isOnCheck: null,
                localLoading: false,
            }
        },
        computed: {
            ...mapGetters([
                'user',
                "lessonsToCheck"
            ]),
            video () {
                const id = this.id
                return this.$store.getters.lessonById(id)
            },
            onCheckMethod () {
                let user = this.user
                let timeCheck = false
                this.lessonsToCheck.forEach(function(lesson) {
                    if(lesson.ownerId === user.id){
                        timeCheck = true
                    }
                })
                return timeCheck
            },

        },
        methods: {
            myCancel (){
                this.localLoading = true
                let ownerId = this.user.id
                let tutorComment = ''
                let count = 0
                const tutorOpinion = {
                    ownerId,
                    tutorComment,
                    count
                }
                this.$store.dispatch('lessonPassed', tutorOpinion)
                    .finally(() => {
                        this.localLoading = false
                        this.$store.dispatch('fetchLessonsToCheck')
                    })
            },

        }
    }
</script>

<style scoped>
    img{
        max-width:200px;
    }
</style>