<template>
    <div>
        <v-parallax
                dark
                height="850"
                src="https://wallpapercave.com/wp/wp3424776.jpg"
                class="mt-10"
        >
            <v-layout
                    align-center
                    column
                    justify-center
            >
                <h1 class="display-2 font-weight-thin mb-3">Гитара с нуля</h1>
            </v-layout>
        </v-parallax>
        <div class="main-container">

        </div>
    </div>
</template>

<script>
    export default {
        data () {
            return {

            }
        }
    }
</script>

<style scoped lang="less">
    @import "../assets/styles.less";

</style>