<template>
    <div>
        <v-parallax
                dark
                height="450"
                src="https://wallpapercave.com/wp/wp3424776.jpg"
                class="mt-10"
        >
            <v-layout
                    column
            >
                <h1 class="display-2 font-weight-thin">Пользователи</h1>
            </v-layout>
        </v-parallax>
        <div class="main-container">
            <span>Сортировка</span>
                    <v-btn @click="sortParam='rank'">Ранг</v-btn>
                    <v-btn @click="sortParam='progress'">Прогресс</v-btn>
            <v-expansion-panel>
                <v-expansion-panel-content
                        v-for="user in sortedList"
                        :key="user.id"
                        hide-actions
                >
                    <template v-slot:header>
                        <v-layout
                                align-center
                                row
                                spacer
                        >
                            <v-flex xs4 sm2 md1>
                                <v-avatar size="36px">
                                    <img
                                            :src="user.imageSrc"
                                            alt="Avatar"
                                    >
                                </v-avatar>
                            </v-flex>

                            <v-flex sm5 md3 hidden-xs-only>
                                <strong>{{user.firstName}}  {{user.lastName}}</strong>
                            </v-flex>

                        </v-layout>
                    </template>

                    <v-card>
                        <v-divider></v-divider>
                        <v-card-text>ранг:  {{user.userRank}}  прогресс:  {{user.userProgress}}</v-card-text>
                    </v-card>
                </v-expansion-panel-content>
            </v-expansion-panel>

        </div>
    </div>
</template>

<script>
    let sortByRank = function (d1, d2) {return (d1.userRank < d2.userRank) ? 1 : -1;};
    let sortByProgress = function (d1, d2) {return (d1.userProgress < d2.userProgress) ? 1 : -1;};

    export default {
        name: "UserList",
        data() {
            return{
                sortParam: ''
            }
        },

        computed: {
            lessons (){
                return this.$store.getters.lessons
            },
            loading(){
                return this.$store.getters.loading
            },
            userList(){
                return this.$store.getters.userList
            },
              sortedList () {
                let userSortedList = []
                  Object.keys(this.userList).forEach(key => {
                      userSortedList.push(this.userList[key])
                  })
                  switch(this.sortParam){
                      case 'rank': return userSortedList.sort(sortByRank);
                      case 'progress': return userSortedList.sort(sortByProgress);
                      default: return userSortedList;
                  }
              }
        },
        beforeCreate(){
            this.$store.dispatch('fetchUsers')
        },
    }
</script>

<style scoped>

</style>


