.theme--dark.application {
  background: #000;
  color: #fff;
}
.pointer{
  cursor:pointer;
}
.main-container{
  max-width:1300px;
  margin:0 auto;
  background:#212121;
  color:#FFF;
  margin-top:-200px;
  min-height:1000px;
  position:relative;
  padding:15px;
  h1{
    font-size:30px;
  }
}

.v-toolbar .v-dialog__activator .v-btn{
  line-height:64px;
  background:none !important;
  padding:0 !important;
}
.v-toolbar .login-btn,
.v-toolbar .registration-btn,
.v-toolbar .logout-btn{
  box-shadow:none !important;
}
.v-toolbar .login-btn:hover,
.v-toolbar .registration-btn:hover,
.v-toolbar .logout-btn:hover {
  background:#3e3e3e !important;
}
.v-toolbar .v-dialog__activator .v-btn__content{
  width:100% !important;
}
.v-toolbar .v-dialog__activator .v-btn--active:before,
.v-toolbar .v-dialog__activator .v-btn:hover:before,
.v-toolbar .v-dialog__activator .v-btn:focus:before{
  background:none !important;
}
.v-toolbar__items  .v-btn__content{
  padding:0 20px;
}
.v-toolbar__items button {
  box-shadow: none;
}
.v-toolbar__content .v-btn{
  padding:0px;
  min-width:0;
}
/*Стили для внутренней страницы урока*/
.video {
  position:relative;
  padding-bottom:53.5%;
  padding-top:25px;
  height:0;
  width:100%;
}
.video iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
.inner-container{
  width: 100%;
  max-width:1600px;
  margin:40px auto 0;
  background: #212121;
}
.video-wrapper{
  display:flex
}
.video-block{
  flex-grow: 1;
}
.more-video{
  max-height:536px;
  width:500px;
  margin-left:50px;
  padding:0 15px;
  background:#212121;
  overflow-y:scroll;
  text-align: center;
  border-bottom:15px solid #212121;
}
.more-video .v-card{
  display:flex;
  padding:10px;
  margin-bottom:15px;
  position: relative;
}
.more-video .v-card:after{
  position: absolute;
  bottom:0;
  left:0;
  background:#000;
  color:#fff;
  font-size:20px;
  opacity: 0.7;
  width:100%;
  height:100%;
  max-height:0%;
  content:'Просмотреть';
  display:flex;
  text-align:center;
  justify-content: center;
  align-items: center;
  transition:max-height 0.3s;
  overflow: hidden;
  cursor:pointer;
}
.more-video .v-card:hover:after{
  max-height:100%;
  transition:max-height 0.3s;
}
.more-video .v-flex:last-child{
  margin-bottom:0;
}
.more-video h3{
  font-size:24px;
  margin:30px 0;
}
.more-video .v-card:hover{
  box-shadow:0 3px 5px 2px rgba(0,0,0,0.5);
}
.more-video .v-image__image{
  transform:none !important;
}
.more-video .my-info{
  width:50%;
  text-align:left;
  padding:0 15px;
  font-family:'Roboto';
  font-weight:300;
  min-height:120px;
}
.more-video .my-info h5{
  font-size:12px;
  font-weight:300;
  margin-bottom:5px;
}
.more-video .my-info p{
  font-size:15px;
  font-weight:500;
}
.v-image:hover .v-image__image{
  transform:scale(1.05);
  transition:1s;
}
.v-image .v-image__image{
  transition:transform 1s;
}
.v-parallax__content{
  max-width:1600px;
  margin:0 auto;
}
.v-parallax__content h1{
  margin-top:70px;
}
.v-parallax__content p{
  font-size:20px;
  margin-top:10px;
}
.v-toolbar__items .v-btn{
  padding:0;
  min-width:0;
}
pre{
  font-weight: 300;
  color: #ffffff;
  padding: 20px 0 0;
  text-align: left;
  font-size: 16px;
}
@media (min-width: 0) {
  .main-container .flex.xs4.my-card-flex {
    max-width: 32.5% !important;
  }
}





/*
input:-webkit-autofill {
  -webkit-box-shadow: inset  0 1px 4px 0 #424242, !* Внутренняя тень *!
  inset 0 0 0 50px #424242, !* Цвет фона *!
  0 1px rgba(255, 255, 255, 0.06) !important; !* Наружная тень *!
  -webkit-text-fill-color: #ffffff !important;
}
*/

input:-webkit-autofill {
  -webkit-text-fill-color: #ffffff !important;
  -webkit-box-shadow: inset 0 0 0 50px #424242 !important;
}

.v-toolbar__items .v-btn__content .flex:first-child{
  margin-right: 15px;
}

/*==============================================Стили для форума=========================================*/
.hidden{
  display: none;
}
.main-container{
  .v-dialog__container{
    flex-grow: 0;
  }
  .forum-card {
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
    .v-icon{
      position: absolute;
      right: 10px;
      top: 10px;
      font-size: 15px;
    }
    .thread-info{
      display: block;
      .thread-data{
        padding: 10px;
      }
    }
    .v-card__title--primary {
      padding-top: 15px;
      a{
        color: #ffffff;
        text-decoration: none;
        transition: color .3s;
        &:hover{
          color: #e50012;
        }
      }
    }
    &.thread-inner{
      display: flex;
      position: relative;
      padding-bottom: 25px;
      justify-content: space-between;
      .thread-info{
        position: absolute;
        bottom: 5px;
        right: 0px;
        .thread-data{
          padding: 0 10px;
        }
      }
      .forum-card-inner{
        flex-basis: 80%;
        .thread-title{
          margin-top: 10px;
          margin-bottom: 30px;
        }
        .thread-content{
          margin-top: 30px;
          font-size: 14px;
          line-height: 24px;
        }
        &.sidebar{
          flex-basis: 15%;
          .user-info{
            flex-direction: column;
            text-align: center;
            padding: 10px;
            .user-avatar{
              width: 100%;
              border-radius: 50%;
              margin: auto;
            }
            .info-block{
              span{
                display: block;
                font-size: 10px;
              }
            }
          }
        }
      }
    }
  }
}