<template>
  <v-app id="inspire" dark>
    <v-navigation-drawer
            v-model="drawer"
            clipped
            temporary
            app
    >
      <v-list dense>
        <v-list-tile
                v-for="link of links"
                :key="link.title"
                :to="link.url"
        >
          <v-list-tile-title v-text="link.title"></v-list-tile-title>
        </v-list-tile>
        <v-list-tile>
          <app-login-modal v-if="!isUserLoggedIn"></app-login-modal>
          <app-registration-modal v-if="!isUserLoggedIn"></app-registration-modal>
        </v-list-tile>

        <v-list-tile>
          <v-btn v-if="isUserLoggedIn" class="logout-btn" to="/PersonalAccount">
            <v-flex xs6>
              <v-avatar
                      size="36px"
                      class="avatar"
              >
                <img
                        :src="user.imageSrc"
                        alt="Avatar"
                >
              </v-avatar>
            </v-flex>
            <v-flex xs6>{{user.firstName}}</v-flex>
          </v-btn>
        </v-list-tile>


        <v-list-tile>
          <span v-if="isUserLoggedIn" @click="onLogout">Выйти</span>
        </v-list-tile>
      </v-list>

    </v-navigation-drawer>
    <v-toolbar app fixed clipped-left>
      <v-toolbar-side-icon @click.stop="drawer = !drawer"
                           class="hidden-md-and-up"
      ></v-toolbar-side-icon>
      <router-link to="/" tag="h1" class="pointer">Гитара с нуля</router-link>
      <v-spacer></v-spacer>
      <v-toolbar-items class="hidden-sm-and-down">
        <v-btn flat
               v-for="link of links"
               :key="link.title"
               :to="link.url"
        >{{link.title}}</v-btn>
        <v-btn v-if="isUserLoggedIn" class="logout-btn" to="/PersonalAccount">
          <v-flex xs6>
            <v-avatar
                    size="36px"
                    class="avatar"
            >
              <img
                      :src="user.imageSrc"
                      alt="Avatar"
              >
            </v-avatar>
          </v-flex>
          <v-flex xs6>{{user.firstName}}</v-flex>
          </v-btn>
        <div class="separator"></div>
        <app-login-modal v-if="!isUserLoggedIn"></app-login-modal>
        <app-registration-modal v-if="!isUserLoggedIn"></app-registration-modal>
        <v-btn v-if="isUserLoggedIn" class="logout-btn" @click="onLogout">Выйти</v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <v-content>
      <router-view></router-view>
    </v-content>
    <template v-if="error">
      <v-snackbar
              :multi-line="true"
              :timeout="5000"
              @input="closeError"
              :value="true"
      >
        {{ error }}
        <v-btn
                color="dark"
                flat
                @click="closeError"
        >
          Close
        </v-btn>
      </v-snackbar>
    </template>

  </v-app>
</template>

<script>
    export default {
        data () {
            return {
                drawer: null,
                defaultLinks: [
                    {title: 'Уроки', url: '/lessons-catalog'},
                    {title: 'Бонус треки', url: '/bonus-catalog'},
                    {title: 'Стримы', url: '/streams-catalog'},
                    {title: 'Пользователи', url: '/UserList'},
                    {title: 'Форум', url: '/Forum'},
                ]
            }
        },
        props: {
            source: String
        },
        computed: {
            error() {
                return this.$store.getters.error
            },
            user(){
                return this.$store.getters.user
            },
            isUserLoggedIn() {
                return this.$store.getters.isUserLoggedIn
            },
            links() {
                if (this.isUserLoggedIn) {
                    return this.defaultLinks
                }
                return this.defaultLinks
            }
        },
        methods: {
            closeError() {
                this.$store.dispatch('clearError')
            },
            onLogout() {
                this.$store.dispatch('logOutUser')
                this.$router.push('/')
            }
        }
    }
</script>
<style lang="less">
  @import "assets/styles.less";
</style>