<template>
    <div class="inner-container">
        <v-form v-model="valid" ref="form" validation>
            <v-container>
                <h1 class="title--primary">Добавьте видео</h1>
                <v-layout row wrap>
                    <v-flex
                            xs12
                    >
                        <v-select
                                v-model="type"
                                :items="items"
                                label="Категория"
                                required
                                :rules="typeRules"

                        ></v-select>
                    </v-flex>
                    <v-flex
                            xs12
                    >
                        <v-text-field
                                v-model="title"
                                :rules="titleRules"
                                label="Заголовок"
                                required
                        ></v-text-field>
                    </v-flex>
                    <v-flex
                            xs12
                    >
                        <v-text-field
                                v-model="description"
                                :rules="descriptionRules"
                                label="Описание"
                                required
                        ></v-text-field>
                    </v-flex>
                    <v-flex
                            xs12
                    >
                        <v-textarea
                                v-model="text"
                                label="Текст песни"
                        ></v-textarea>
                    </v-flex>
                    <v-flex
                            xs12
                    >
                        <v-text-field
                                v-model="videoSrc"
                                label="Ссылка на видео"
                                :rules="videoRules"
                                required
                        ></v-text-field>
                    </v-flex>
                    <!----------------------------------------Загрузка изображений------------------------------------------>
                    <v-flex xs12>
                        <v-btn color="info" class="mb-3" @click="triggerUpload">
                            Загрузить схемы
                            <v-icon right dark>cloud_upload</v-icon>
                        </v-btn>
                        <input
                                ref="fileInput"
                                type="file"
                                accept="image/*"
                                @change="onFileChange"
                                label="File input"
                                style="display: none"
                        >
                    </v-flex>
                    <v-flex xs12>
                        <v-img :aspect-ratio="16/9" :src="imageSrc" height="150" v-if="imageSrc"></v-img>
                    </v-flex>
                    <!------------------------------------------------------------------------------------------------------->
                    <v-flex xs12>
                        <v-spacer></v-spacer>
                        <v-btn
                                :disabled="!valid || loading"
                                :loading="loading"
                                color="success"
                                @click="addVideo"
                        >Сохранить
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-form>
    </div>
</template>

<script>
    export default {
        name: "AddMaterial",
        data: () => ({
            valid: false,
            title: '',
            description: '',
            videoSrc: '',
            text: '',
            image: null,
            imageSrc: '',
            type: null,
            items: [
                'Урок',
                'Бонус-трек',
                'Стрим'
            ],
            titleRules: [
                v => !!v || 'Введите заголовок'
            ],
            descriptionRules: [
                v => !!v || 'Добавьте описание'
            ],
            videoRules: [
                v => !!v || 'Добавьте ссылку на видео'
            ],
            typeRules: [
                v => !!v || 'Выберите категорию'
            ]
        }),
        computed: {
            loading(){
                return this.$store.getters.loading
            }
        },
        methods: {
            addVideo() {
                if (this.$refs.form.validate()) {
                    const videoData = {
                        title: this.title,
                        description: this.description,
                        videoSrc: this.videoSrc,
                        image: this.image,
                        text: this.text,
                        type: this.type
                    }
                    this.$store.dispatch('addVideo', videoData)
                }
            },
            triggerUpload(){
                this.$refs.fileInput.click()
            },
            onFileChange(event){
                const file = event.target.files[0]
                const reader = new FileReader()

                reader.onload = e => {
                    this.imageSrc = reader.result
                }

                reader.readAsDataURL(file)
                this.image = file
            }
        }
    }
</script>

<style scoped>

</style>
