<template>
    <v-dialog width="400px" v-model="modal">
        <v-btn flat slot="activator" :loading="loading">Изменить аватар</v-btn>
        <v-card>
            <v-container>
                <v-layout row>
                    <v-flex xs12>
                        <v-card-title>
                            <h1 class="title--primary">Выберите изображение</h1>

                                <div class="image-wrapper"
                                     v-for="avatar in avatarList"
                                     :key="avatar"
                                >
                                    <img
                                            @click="getSrc"
                                            :src="avatar"
                                            alt=""
                                    >
                                </div>
                            <v-btn
                                    @click="onChoose"
                            >Ok</v-btn>
                            <v-btn
                                    @click="onCancel"
                            >Отмена</v-btn>
                        </v-card-title>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-card>
    </v-dialog>

</template>

<script>
    export default {
        name: "AvatarChange",
        props: ['onAvatarChosen'],
        data(){
            return{
                valid: false,
                modal: false,
                localLoading: false,
                imageSrc: '',
                formerAvatar: ''
            }
        },
        mounted(){
            this.formerAvatar = this.user.imageSrc
        },
        computed: {
            loading () {
                return this.$store.getters.loading
            },
            avatarList (){
                return this.$store.getters.avatarList
            },
            user(){
                return this.$store.getters.user
            }
        },
        beforeCreate() {
            this.$store.dispatch('avatarList')
        },
        methods: {
            onCancel(){
                this.imageSrc = this.formerAvatar
                this.modal = false
            },
            getSrc(){
                let imageSrc = event.target.closest('img').attributes.src.value

                const imgList = document.querySelectorAll('img')

                for (let i = 0; i < imgList.length; i++) {
                    if (imgList[i].classList.contains('active')) {
                        imgList[i].classList.remove('active')
                    }
                }
                event.target.closest('img').classList.toggle('active')

                /*console.log(imageSrc);*/
                this.imageSrc = imageSrc
            },
            onChoose(){
                if (this.imageSrc !== '') {
                    /*console.log(this.imageSrc);*/
                    this.onAvatarChosen({
                        avatarSrc: this.imageSrc
                    })
                }
                this.modal = false
            },
        }
    }
</script>

<style lang="less" scoped>
.image-wrapper{
    max-width: 100px;
    cursor: pointer;
    img{
        width: 100%;
        &.active{
            border: 2px solid yellow;
        }
    }
}
</style>