<template>
    <div class="lessonToCheck.ownerFirstName">
        <h1 class="title--primary">Проверьте уроки</h1>
        <v-flex xs12
                v-for="lessonToCheck of lessonsToCheck"
                :key="lessonToCheck.lessonId"
        >
            <v-card>
                <v-card-title primary-title>
                    <iframe
                            :src="lessonToCheck.src"
                            frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen
                    ></iframe>
                    <div>
                        <p>{{lessonToCheck.creationDate}}</p>

                        <user-info-modal :thisItem="lessonToCheck"></user-info-modal>

                        <h3 class="headline mb-0">{{lessonToCheck.lessonTitle}}</h3>
                        <div> {{lessonToCheck.comment}} </div>
                    </div>
                </v-card-title>
                <v-textarea
                        name="tutorComment"
                        label="Добавьте комментарий"
                        type="text"
                ></v-textarea>
                    <v-btn flat
                           :thisOwnerId="lessonToCheck.ownerId"
                           @click="onChecked"
                           class="passed"
                    >Зачёт</v-btn>
                    <v-btn flat
                           :thisOwnerId="lessonToCheck.ownerId"
                           @click="onChecked"
                    >Пересдача</v-btn>
            </v-card>
        </v-flex>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex'
    export default {
        name: "ControlComponent",
        computed: {
            ...mapGetters([
                'loading',
                'userList',
                'lessonsToCheck'
            ]),

        },

        created(){
            this.$store.dispatch('fetchLessonsToCheck')
            /*
            this.lessonsToCheck = this.$store.getters.lessonsToCheck
            console.log(this.lessonsToCheck)*/
        },

        methods: {
            onChecked(event){
               let ownerId = event.target.closest('.v-btn').attributes.thisOwnerId.value
                let card = (event.target).closest('.v-card')
                let tutorComment = card.querySelector('textarea').value
                let count = 0
                if (event.target.closest('.v-btn').classList.contains('passed')){
                   count = 1
                }
                const tutorOpinion = {
                    ownerId,
                    tutorComment,
                    count
                }
                this.$store.dispatch('lessonPassed', tutorOpinion)
                    .then(() => {
                        this.$store.dispatch('autoLoginUser')
                        card.classList.add('hidden')
                        this.$store.dispatch('fetchLessonsToCheck')
                    })
            },
        }
    }
</script>

<style scoped>

    .hidden{
        display: none;
    }


</style>