<!--<template>
    <div class="inner-container">

        <v-flex xs-8>
            <v-card-text class="text&#45;&#45;primary">
                <h3 class="font-weight-thin">Имя:{{user.firstName}}</h3>
                <h3 class="font-weight-thin">Фамилия:{{user.lastName}}</h3>
            </v-card-text>
        </v-flex>

    <v-form v-model="valid" ref="form" validation>
        <v-container>
            <h1 class="title&#45;&#45;primary">Заполните данные о себе</h1>
            <v-layout row wrap>
                <v-flex
                        xs12 sm6 offset-sm3
                >
                    <v-text-field
                            v-model="firstName"
                            :rules="nameRules"
                            :counter="10"
                            label="Имя"
                            required
                    ></v-text-field>
                </v-flex>

                <v-flex
                        xs12 sm6 offset-sm3
                >
                    <v-text-field
                            v-model="lastName"
                            :rules="lastNameRules"
                            :counter="10"
                            label="Фамилия"
                            required
                    ></v-text-field>
                </v-flex>


                    <v-flex xs12 sm6 offset-sm3>
                        <v-btn color="info" class="mb-3" @click="triggerUpload">
                            Загрузить фото
                            <v-icon right dark>cloud_upload</v-icon>
                        </v-btn>
                        <input
                                ref="fileInput"
                                type="file"
                                style="display: none;"
                                accept="image/*"
                                @change="onFileChange"
                        >
                    </v-flex>

                    <v-flex xs12 sm6 offset-sm3>
                        <v-img :aspect-ratio="16/9" :src="imageSrc" height="150" v-if="imageSrc"></v-img>
                    </v-flex>

                    <v-flex xs12 sm6 offset-sm3>
                        <v-spacer></v-spacer>
                        <v-btn
                                :disabled="!valid || loading"
                                :loading="loading"
                                color="success"
                                @click="createUserData"
                        >Сохранить
                        </v-btn>
                    </v-flex>

            </v-layout>
        </v-container>
    </v-form>
    </div>
</template>-->
<template xmlns:v-slot="http://www.w3.org/1999/XSL/Transform">
    <div class="inner-container">
        <div class="sidebar">
            <div class="user-info">
                <img
                        :src='user.imageSrc'
                        class="user-avatar"
                        alt=""

                >
                <div class="info-block">
                    <h3>{{user.firstName}}   {{user.lastName}}</h3>
                    <span>Ранг: {{user.userRank}}</span>
                    <span>Прогресс: {{user.userProgress}}</span>
                    <span>Бесед: {{user.threadsCount}}</span>
                    <span>Комментариев: {{user.commentsCount}}</span>
                    <span>Поставил лайков: {{thisUserLiked}}</span>
                    <span>Получил лайков: {{thisUserLikes}}</span>

                </div>
            </div>
            <div class="sidebar-menu">
                <button
                        v-for="tab of tabs"
                        :key="tab.name"
                        :class="['tab-button', { active: currentTab.name === tab.name }]"
                        @click="currentTab = tab"
                >{{ tab.name }}
                </button>
            </div>
        </div>
        <div class="content">

                <component
                       :is="currentTab.component"
                        class="tab"
                ></component>


<!--
            <div class="personal-data-edit">

            </div>

            <div class="add-material">

            </div>-->

        </div>
    </div>
</template>
<script>
    import {mapGetters} from 'vuex'
    const  tabs = [
        {name: 'Изменить личные данные', component: 'app-user-data-change'},
        {name: 'Добавить материал', component: 'app-add-material'},
        {name: 'Прогресс обучения', component: 'user-progress'},
    ];
    export default {
        name:'PersonalAccount',
        data ()  {
            return {
                tabs: tabs,
                currentTab: tabs[0],
               /* imageSrc: ''*/
            }

        },
        created(){
            if (this.lessonsToCheck.length !== 0 && tabs.length === 3) {
                tabs.push({name: 'Проверить уроки', component: 'control-component'})
            } else if (this.lessonsToCheck.length === 0 && tabs.length === 4) {
                tabs.pop()
            }
        },

        computed: {
            ...mapGetters([
                'user',
                'isUserLoggedIn',
                'loading',
                'userList',
                'threads',
                'comments',
                'lessonsToCheck'
            ]),

            thisUserLiked(){
                let userId = this.user.id
                let likesCount = 0
                Object.keys(this.threads).forEach(key => {
                    let thread = this.threads[key]
                    if (thread.likes.hasOwnProperty(userId)) {
                        likesCount++
                    }
                })
                console.log(likesCount)
                console.log(userId)
                return likesCount
            },
            thisUserLikes(){
                let userId = this.user.id
                let likesCount = 0
                Object.keys(this.threads).forEach(key => {
                    let thread = this.threads[key]
                    if (thread.ownerId === userId) {
                        likesCount = likesCount + Object.keys(thread.likes).length
                    }
                })
                console.log(likesCount)
                console.log(userId)
                return likesCount
            },

        },

    }
</script>

<style scoped lang="less">
    .inner-container{
        display:flex;
        .sidebar{
            background: #424242;
            width: 280px;
            min-width: 280px;
            .user-info{
                background: #424242;
                padding:15px 20px;
                display:block;
                text-align:center;
                .info-block{
                    span{
                        display: block;
                    }
                }
                .user-avatar{
                    margin:0 0 15px;
                    border:1px solid #424242;
                    max-width:200px;
                    min-height: 200px;
                }
            }
            .sidebar-menu{

                .tab-button{
                    display:block;
                    background: none;

                    height:40px;
                    line-height: 40px;
                    padding:0 20px;
                    width:100%;
                    outline:none;
                    &.active{
                        background:#212121;
                    }
                }
            }
            .theme--dark.v-navigation-drawer{
                background:#3e3e3e;
            }
            .v-navigation-drawer{
                height:auto !important;
            }
            .theme--dark.v-navigation-drawer:not(.v-navigation-drawer--floating) .v-navigation-drawer__border{
                background-color:rgba(0,0,0,0) !important;
            }
            ul{
                list-style: none;
            }
        }
        .content{
            flex-grow: 1;
            padding:20px 40px;
        }
/*===========================TABS=====================================
        .tab-button {
            padding: 6px 10px;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            cursor: pointer;
            background: transparent;
            margin-bottom: -1px;
            margin-right: -1px;
        }
        .tab-button:hover {
            background: #3e3e3e;
        }
        .tab-button.active {
            background: #3e3e3e;
        }
        .tab {
            border: 1px solid #ccc;
            padding: 10px;
        }*/
    }
</style>