<template>
    <div class="user-progress">
        {{onCheck}}
        <div class="tutor-comment" v-if="user.tutorComment || user.tutorComment !== '' ">
            <h3>Последний комментарий учителя</h3>
            <p>{{user.tutorComment}}</p>
        </div>

        <div class="table-header">
            <span class="lesson-title-header">Урок</span>
            <span class="lesson-description-header">Описание</span>
        </div>
        <div
                v-for="lesson in lessons"
                :key="lesson.title"
                class="lesson-line"
        >
            <div class="lesson-title">
                <router-link :to="'/lesson/' + lesson.id">
                    {{ lesson.type }} {{lesson.number}}
                </router-link>
            </div>
            <div class="lesson-description" @click="onCheckMethod">
                <span>{{ lesson.description }}</span>
            </div>
            <div class="controls">
                <div v-if="user.userProgress == lesson.number">
                    <div class="cancel-controls" v-if="onCheck">
                        <span class="status">Ожидает проверки...</span>
                        <v-btn flat @click="myCancel()" :loading="localLoading">Отменить</v-btn>
                    </div>

                    <to-check-modal v-else
                                    :thisLessonId = lesson.id
                                    :thisLessonTitle="lesson.title"
                                    @check = "onCheckMethod"

                    ></to-check-modal>
                </div>
                <span v-else-if="user.userProgress > lesson.number">урок пройден</span>
                <span v-else>ещё рановато</span>
            </div>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from 'vuex'

    export default {
        name: "UserProgress",
        data () {
            return {
                personalDataToggle: true,
                addMaterialToggle: false,
                onCheck: null,
                localLoading: false,
            }
        },
        beforeMount() {
            this.onCheckMethod ()
        },
        computed: {
            ...mapGetters([
                'loading',
                'user',
                'lessons',
                "lessonsToCheck"
            ]),
        },
        methods: {
            myCancel(){
                this.localLoading = true
                let ownerId = this.user.id
                let tutorComment = ''
                let count = 0
                const tutorOpinion = {
                    ownerId,
                    tutorComment,
                    count
                }
                this.$store.dispatch('lessonPassed', tutorOpinion)
                    .finally(() => {
                        this.localLoading = false
                        this.onCheck = false

                    })
            },
            onCheckMethod () {
                let user = this.user
                let timeCheck = false
                this.lessonsToCheck.forEach(function(lesson) {
                    if(lesson.ownerId === user.id){
                        timeCheck = true
                    }
                })
                this.onCheck = timeCheck
            }
        }
    }
</script>

<style scoped lang="less">
    .user-progress{
        width:100%;
    }
    .user-progress .table-header{
        line-height:40px;
        font-size:16px;
        margin-bottom:20px;
        color:#999;
        & > span{
            display:inline-block;
            padding:0 20px;
        }
        .lesson-title-header{
            width:20%;
        }
    }
    .user-progress .lesson-line{
        display:flex;
        width:100%;
        justify-content:space-between;
        align-items: center;
        background:#3e3e3e;
        border-bottom:2px solid #212121;
        & > div{
            padding:10px 20px;
            width:40%;
            position: relative;
            max-height:60px;
            width:20%;
            &:after{
                width:100%;
                background:#3e3e3e;
                content:"";
                height:5px;
                display:block;
                left:0;
                bottom:0;
                position: absolute;
            }
            overflow: hidden;
            &.lesson-title{
                a {
                    color: #fff;
                    &:hover{
                        color:#999;
                    }
                }
            }
            &.lesson-description{
                color:#999;
                width:60%;
                &:before{
                    content:'';
                    width:2px;
                    height:80%;
                    position: absolute;
                    top:10%;
                    left:0;
                    background: #212121;
                }
            }
            &.controls{
                text-align:right;
                min-width:350px;
                .cancel-controls{
                    display:flex;
                    align-items: center;
                    span{
                        display:inline-block;
                        margin-right:15px;
                        color:#898989;
                    }
                }
                button{
                    background: #212121;
                    line-height: 40px;
                    height:40px;
                    padding:0 40px;
                    margin:0;
                }
            }
        }
    }


</style>
