<template>
    <div class="inner-container">
        <v-form v-model="valid" ref="form" validation>
            <v-container>
                <h1 class="title--primary">Изменить данные</h1>
                <v-layout row wrap>
                    <v-flex
                            xs12
                    >
                        <v-text-field
                                v-model="firstName"
                                :rules="nameRules"
                                :counter="10"
                                label="Имя"
                                required
                        >{{user.firstName}}</v-text-field>
                    </v-flex>

                    <v-flex
                            xs12
                    >
                        <v-text-field
                                v-model="lastName"
                                :rules="lastNameRules"
                                :counter="12"
                                label="Фамилия"
                                required
                        >{{user.lastName}}</v-text-field>
                    </v-flex>
                    <avatar-change
                            :onAvatarChosen="onAvatarChosen"
                    ></avatar-change>
                    <v-img class="avatar-preview"
                            v-if="imageSrc !== ''"
                    :src="imageSrc"
                    >
                    </v-img>

                    <!----------------------------------------Загрузка изображений------------------------------------------>
                    <!--<v-flex xs12>
                        <v-btn color="info" class="mb-3" @click="triggerUpload">
                            Загрузить фото
                            <v-icon right dark>cloud_upload</v-icon>
                        </v-btn>
                        <input
                                ref="fileInput"
                                type="file"
                                style="display: none;"
                                accept="image/*"
                                @change="onFileChange"
                        >
                    </v-flex>

                    <v-flex xs12>
                        <v-img :aspect-ratio="16/9" :src="imageSrc" height="150" v-if="imageSrc"></v-img>
                    </v-flex>-->
                    <!------------------------------------------------------------------------------------------------------->
                    <v-flex xs12>
                        <v-spacer></v-spacer>
                        <v-btn
                                :disabled="!valid || loading"
                                :loading="loading"
                                color="success"
                                @click="createUserData"
                        >Сохранить
                        </v-btn>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-form>
    </div>
</template>

<script>
    export default {
        name: "UserDataChange",
        data: () => ({
            valid: false,
            firstName: '',
            lastName: '',
            image: null,
            imageSrc: '',
            nameRules: [
                v => !!v || 'Введите имя',
                v => v.length <= 10 || 'Не больше 10 символов'
            ],
            lastNameRules: [
                v => !!v || 'Введите Фамилию',
                v => v.length <= 12 || 'Не больше 10 символов'
            ]
        }),
        mounted(){
            this.firstName = this.user.firstName
            this.lastName = this.user.lastName
            this.imageSrc = this.user.imageSrc
        },
        computed: {
            loading(){
                return this.$store.getters.loading
            },
            user(){
                return this.$store.getters.user
            }
        },
        methods: {
            onAvatarChosen(data){
                this.imageSrc = data.avatarSrc
            },
            createUserData(){
                if(this.$refs.form.validate()){
                    const userData = {
                        firstName: this.firstName,
                        lastName: this.lastName,
                        /*imageSrc: 'https://steamcdn-a.akamaihd.net/steamcommunity/public/images/avatars/26/2639e6545157f4c81d718b5946a19a7752c3fee0_full.jpg',
                        */
                        imageSrc: this.imageSrc,
                        id: this.id
                    }
                    this.$store.dispatch('createUserData', userData)
                }
            },
        }
    }
</script>

<style lang="less" scoped>
.avatar-preview{
    max-width: 100px;
    height: auto;
}
</style>